/*--------------------------------------------------*/
/* Dialog */	
/*--------------------------------------------------*/

#conversation div.tab_content_left
{
	background-image: url(../images/npc/7.png);
}

#dialog
{
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
	background-color: rgba(255, 255, 255, 0.9);
	
	height: 200px;
	margin-top: 100px;
	padding: 20px;
	
}

/*--------------------------------------------------*/
/* botton */	
/*--------------------------------------------------*/

/* CUSTOM FONT */

	span.button {
	 color: white;
	 text-decoration: none;
	 font-size: 16px;
	 font-family: helvetica, arial;
	 font-weight: bold;
	 display: block;
	 text-align: center;
	 position: relative;
 
	 /* BACKGROUND GRADIENTS */
	 background: #014464;
	 background: gradient(top, #0D658E, #0C577A 50%, #014D71 51%, #003E5C);
	 background: -moz-linear-gradient(top, #0D658E, #0C577A 50%, #014D71 51%, #003E5C);
	 background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0E658E), color-stop(.5, #0C577A), color-stop(.5, #014D71), to(#003E5C)); 
 
	 /* BORDER RADIUS */
	 border-radius: 10px;
	 -moz-border-radius: 10px;
	 -webkit-border-radius: 10px;
 
	 border: 1px solid #368DBE;
	 border-top: 1px solid #c3d6df;
 
	 /* TEXT SHADOW */
 
	 text-shadow: 1px 1px 1px black;
 
	 /* BOX SHADOW */
	 -moz-box-shadow: 0 1px 3px black;
	 -webkit-box-shadow: 0 1px 3px black;
	 box-shadow: 0 1px 3px black;
	}
 
	/* WHILE HOVERED */
	.button:hover {
		background: #014464;
	 	background: gradient(top, #0c5f85, #0b5273 50%, #024869 51%, #003853);
	 	background: -moz-linear-gradient(top, #0c5f85, #0b5273 50%, #024869 51%, #003853);
	 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0c5f85), color-stop(.5, #0b5273), color-stop(.51, #024869), to(#003853));
	}
 
	/* WHILE BEING CLICKED */
	.button:active {
		box-shadow: 0 2px 6px black;
		-moz-box-shadow: 0 2px 6px black;
		-webkit-box-shadow: 0 2px 6px black;
	}
	/* FONT GLYPH (MOSTLY FOR FUN) */
	.button:before {
		font-family: EfonRegular;
		content: 'à¸¿';
		color: #09232F;
		font-size: 16px;
		float: left;
		margin-left: 35px;
		margin-right: -10px;
		text-shadow: 0 1px 0 #4190AF;
	}
