/* ------------------------------------------------------------------------ */
/* interface.guidepost.css */	
/* ------------------------------------------------------------------------ */
		
#section_desctiption 
{
	height: 75px;
	padding: 5px;
	margin-bottom: 4px;
}		
#section_desctiption img
{
	float: left;
	margin-right: 5px;
			
	max-width: 75px;
	max-height: 75px;
}

#section_desctiption h2
{
	float: left;
	margin-top: 5px;
}

#section_desctiption h3
{
	position:absolute;
	margin: 30px 0px 0px 81px;
	padding-top: 5px;
}
		
/* End of file interface.guidepost.css */
/* Location: ./assets/css/interface.guidepost.css */		
