/*------------------------------------------------------------------------*/
/* interface.battle.css */	
/*------------------------------------------------------------------------*/

#tab_content_4 { position: relative; }

#icon_sowrd
{
	height: 130px;
	left: 295px;
	top: 110px;
	position: absolute;
	width: 130px;
	z-index: 2;
}

#button_finish_battle
{
	background: #F66;
	border: 3px solid #F00;
	color: #FFF;
	cursor: pointer;
	display: block;
	font-size: 18px;
	font-weight: bold;
	height: 36px;
	left: 282px;
	line-height: 36px;
	margin: auto;
	padding: 5px 10px;
	position: absolute;
	text-align: center;
	top: 260px;
	width: 130px;
	z-index: 3;
	
	/* CSS3 */
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
			
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4), 0px 0px 5px rgba(0, 0, 0, 0.5) inset;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}
#button_finish_battle:hover 
{ 
background-color: #0C0; 
border-color: #0B0;
}

#character_battle_image
{
	background: url(../images/profile_big.jpg) center no-repeat;
	border: 5px solid #FFF;
	height: 150px;
	margin: 20px auto;
	width: 150px;
	
	/* CSS3 */
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
			
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

#tab_content_4 div.tab_content_right
{
	background: url(../images/monster/29.png) center no-repeat;
	position: relative;
	
	/* CSS3 */
	
	background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
}

#tab_content_4 div.tab_content_left
{
	background: none;
	position: relative;
}

.battle_win
{
	color: #090;
	font-size: 48px;
	font-weight: bold;
}

.battle_lose
{
	color: #C00;
	font-size: 48px;
	font-weight: bold;
}

.battle_status
{
	background: transparent;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF); /* IE FIX */
	background-color: rgba(255, 255, 255, 0.5);
	bottom: 25px;
	height: 100px;
	padding: 20px;
	position: absolute;
	margin: auto;
	text-align: center;
	width: 303px;
}

.battle_status h2
{
	line-height: 50px;
	margin-bottom: 8px;
}

.battle_status p
{
	font-size: 14px;
	line-height: 25px;
}

.battle_status span
{
	margin: 0px 10px;
	font-weight: bold;
}

.battle_status span i
{
	font-weight: normal;
	font-style: normal;
}

/* End of file interface.battle.css */
/* Location: ./assets/css/interface.battle.css */	