/*--------------------------------------------------*/
/* interface.worldmap.css */	
/*--------------------------------------------------*/

#worldmap
{
	position: relative; 
	background: url(../images/map/worldmap/worldmap.jpg) center no-repeat;
	height: 403px;
	
	background-size: 100%;
	-moz-background-size: 100%;
	-webkit-background-size: 100%;
}

.map_icon_city
{
	background: url(../images/map/worldmap/pin_city.png);
	cursor: pointer;
	position: absolute;
	width: 64px;
	height: 64px;
}

.map_icon_map
{
	cursor: pointer;
	position: absolute;
	width: 16px;
	height: 16px;
	background: #F93;
	border: 1px solid #666;
	
	/* CSS 3 */
	
	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
		
	box-shadow: 0px 0px 5px rgba(0,0,0, 0.8);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0, 0.8);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0, 0.8);
}

div[id^=qtip] img { cursor: pointer; }

#map_icon_1 { top:210px; left: 20px; }
#map_icon_2 { top:320px; left: 30px; }
#map_icon_3 { top:245px; left: 135px; }
#map_icon_4 { top:280px; left: 135px; }
#map_icon_13 { top:340px; left: 260px; }
#map_icon_58 { top:175px; left: 555px; }
#map_icon_59 { top:250px; left: 555px; }
#map_icon_60 { top:310px; left: 315px; }
#map_icon_63 { top:320px; left: 445px; }
#map_icon_69 { top:100px; left: 555px; }
#map_icon_70 { top:20px; left: 545px; }
#map_icon_74 { top:30px; left: 505px; }

/*--------------------------------------------------*/
/* Map Detail */	
/*--------------------------------------------------*/

#mapDetail
{
	display: none;
	position: relative;
	height: 403px;
	padding: 1px 0px;
	background: url(../images/map/4.jpg) center no-repeat;
	
	background-size: 100%;
	-moz-background-size: 100%;
	-webkit-background-size: 100%;
}


	#map_info
	{
		background: transparent;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
		background-color: rgba(255, 255, 255, 0.9);
		
		position: relative;
		height: 350;
		padding: 20px;
		margin-top: 55px;
	}
	
	#mapDetail a[id^=bt_]
	{
		position: absolute;
		cursor: pointer;
		opacity: 0.5;
	}
	
	#mapDetail a[id^=bt_]:hover
	{
		opacity: 1;
	}
	
	
	#bt_map_info_close { right: 20px;; }
	
	#bt_map_info_open, #bt_worldmap
	{ 
		background: transparent;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
		background-color: rgba(255, 255, 255, 0.9);
		
		height: 20px;
		line-height: 20px;
		top: 20px; 
		padding: 0px 10px;
		border: 1px solid #999;
		
		box-shadow: 0px 0px 8px rgba(0,0,0, 0.3);
		-moz-box-shadow: 0px 0px 8px rgba(0,0,0, 0.3);
		-webkit-box-shadow: 0px 0px 8px rgba(0,0,0, 0.3);
		
		border-radius: 20px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
	}
	
	#bt_map_info_open
	{ 
		display: none;
		right: 20px;
	}
	
	#bt_worldmap
	{ 
		left: 20px;
	}
	
	
	#map_info img { float: left; margin-right:20px; max-height: 250px; max-width: 250px; }
	
	#map_description 
	{ 
		float: left; 
		padding: 20px 20px 20px 0px; 
		width: 370px; 
		
	}
		#map_description h2 { font-size: 24px; margin-bottom: 20px; line-height: 150%; }
		#map_description p { font-size: 14px; }
		