/* ------------------------------------------------------------------------ */
/* interface.guidepost.css */	
/* ------------------------------------------------------------------------ */

#tab_content_2 div.tab_content_left { overflow: hidden; }
		
#section_desctiption 
{
	height: 80px;
	padding: 5px;
	border-bottom: 1px dashed #DDD;
}	
	
#section_desctiption img
{
	float: left;
	margin-right: 5px;
			
	max-width: 75px;
	max-height: 75px;
}

#section_desctiption h2, #section_desctiption h3, #section_desctiption h4
{
	clear: none;
	float: left;
	padding-top: 5px;
	width: 230px;
	white-space: nowrap;
}

#section_desctiption i
{
	font-style: normal;
	font-weight: normal;
}

		#content_guidepost
		{ 
			clear: both; 
			/*height: 265px;*/
			/*overflow-y: auto;
			overflow-x: hidden;*/
		}

		#content_guidepost li:first-child 
		{ 
			border-top: none;
		}
		
/* End of file interface.guidepost.css */
/* Location: ./assets/css/interface.guidepost.css */