/*------------------------------------------------------------------------*/
/* interface.popup.css */	
/*------------------------------------------------------------------------*/

#popup_status h3
{
	margin: 10px 0px;	
	font-size: 16px;
}

#popup_status th, #popup_status td
{
	border: 1px solid #DDD;
	border-collapse: collapse;
	padding: 5px;
	text-align: right;
}

#popup_status th
{
	width: 40px;
}

#popup_status td
{
	min-width: 70px;
}
	


/* End of file interface.popup.css */
/* Location: ./assets/css/interface.popup.css */	
